body {
    font-family: "helvetica";
    background: linear-gradient(azure grey); 
}
#search_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.7s;
}
#search_btn:hover {
    /* padding-right: 25px; */
    background-image: url("../../images/map-bg.png");
    background-size: contain;
    cursor: zoom-in;
}
#buttonLabel {
    z-index: -1;
}
#logo {
    font-family: 'Leckerli One', cursive;
    background-image: url("../../images/dinoTranspng.png");
    border-radius: 100%;
    max-width: 100%;
    position: relative;
    bottom: 1em;
   
}
#name {
    font-family: 'Leckerli One', cursive;
    position: relative;
    bottom: 34%;
    left: 41%;
}
#descript {
    padding-left: 6%;
    padding-top: 2%;
    font-family: 'Leckerli One';
}
#phonicTitle {
    line-height: 0.5em;
    font-family: 'Leckerli One', cursive;
    position: relative;
    bottom: 23%;
    left: 8%;
    font-size: 1.7em;
}
#opening {
    position: relative;
    left: 26%;
}
#about {
    background-color: #7fbdae;
}
.prezBox {
    border: solid 2px;
    margin-bottom: 10%;
    background-color: whitesmoke;
}
h3 {
    text-align: center;
}
#p {
    display: none;
}
#logofade{
    display: none;
}
#return {
    height: 14em;
    width: 27em;
    border-radius: 100%;
    box-shadow: 1px 1px;
    position: relative;
    left: 39%;
}
#return:hover {
    background-image: url("../../images/dinoTranspng.png");
    background-position-y: center;
    background-size: cover;
    cursor: pointer;
    background-color: lightseagreen;
}