body {
    font-family: "Merriweather";
}
#submitButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.7s;
}
#submitButton:hover {
    padding-right: 25px;
    background-image: url("../../images/map-bg.png");
    background-size: contain;
}
#buttonLabel {
    z-index: -1;
}
#title {
    font-family: 'Leckerli One', cursive;
}
#name {
    position: relative;
    left: 31%;
    bottom: 15%;
}